* {
    margin: 0;
    padding: 0;
}

/***** Header Start /*****/
header {
    text-align: center;
}
h1 {
    color: rgb(32, 14, 58);
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 48px;
}
header>h3 {
    display: inline-block;
    color: rgb(56, 65, 157);
    font-size: 32px;
}
header>h2 {
    font-weight: 900;
    color: rgb(56, 135, 190);
    font-size: 36px;
}
/***** Header End /*****/

/***** NavBar Start /*****/
nav {
    text-align: center;
    margin-top: 1rem;
}
ul>li {
    display: inline;
}
    /* Button Start*/
.btn {
    display: inline-block;
    text-decoration: none;
    background-color: rgb(82, 211, 216);
    border: solid 5px rgb(82, 211, 216);
    border-radius: 10%;
    color: white;
    margin: 1rem;
}
    /* Button End */
/***** NavBar End /*****/

/***** MainPage Content Start *****/
#list{
    text-align: center;
}
#movieList>li {
    list-style-position: inside;
}
/***** MainPage Content End *****/

/***** Content Start /*****/
.content {
    text-align: center;
}
h4 {
    font-family: 'Rokkitt', serif;
}
/***** Content End /*****/

/***** About Us Start *****/
#vision {
    background-color: bisque;
}
.vs {
    text-align: right;
    margin-right: 5rem;
    margin-left: 25rem;
}
#mission {
    background-color: bisque;
}
.mss {
    text-align: left;
    margin-right: 25rem;
    margin-left: 5rem;
}
/***** About Us End *****/